.wrapper {
  width: 100vw;
  height: 100vh;
  background-color: #afcffe;
  position: relative;
}

.whitePlayer {
  position: absolute;
  width: 80px;
  height: 80px;
  top: 50%;
  left: 0%;
  transform: translate(0%, -50%);
  background-color: #ffffff;
  border-radius: 40px;
  margin-left: 20px;
}

.blackPlayer {
  position: absolute;
  width: 80px;
  height: 80px;
  top: 50%;
  right: 0%;
  transform: translate(0%, -50%);
  background-color: #000000;
  border-radius: 40px;
  margin-right: 50px;
}

.subWrapper {
  position: absolute;
  width: 700px;
  height: 600px;
  background-color: #00a000;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
}

.grid-container {
  display: grid;
  grid-template-columns: 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5%;
  background-color: #2196f3;
  padding: 10px;
  width: 500px;
  height: 500px;
}
.item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  text-align: center;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.white {
  background-color: rgba(255, 255, 255);
  height: 80%;
  width: 80%;
  border-radius: 30px;
}

.black {
  background-color: rgba(0, 0, 0);
  height: 80%;
  width: 80%;
  border-radius: 30px;
}

.empty {
  height: 80%;
  width: 80%;
  border-radius: 30px;
}
